#wrapper
 #home
  h1
    This is my home.
  form#contact-form
    label(for='first') First:
    input(name='first')
    br
    label(for='last') Last:
    input(name='last')
    br
    input(placeholder='i.e. john.doe@gmail.com',name='email',type='email') Email
    br
    input(placeholder='+1.888.888.5555', name='tel',type='tel') phone
    br
    label(for='file') Photo
    input(name='file',type='file')
    br
    label(for='file') Your File
    input(name='file',type='file')
    br
    label(for='description') File description
    input.field-size(name='description')
    input(type='submit',value='Send Info')
