#home
  p.
    This is my home. I love it here so much.

  form#contact-form
    label(for='first') First:
    input(name='first')
    br
    label(for='last') Last:
    input(name='last')
    br
    input(placeholder='i.e. john.doe@gmail.com',name='email',type='email')
    br
    input(placeholder='+1.888.888.5555', name='tel',type='tel')
    br
    label(for='file') Thing-ma-bob:
    input(name='file',type='file')
    br
    input(type='submit',value='Send Info')
