 #home
  h1
    This is my home
  include ./contact-form.jade
  form#upload
    br
    hr
    label(for='file') Photo
    input(name='file',type='file')
    br
    label(for='file') Your File
    input(name='file',type='file')
    br
    label(for='description') File description
    input.field-size(name='description')
    br
    input(type='submit',value='Upload file')
  

 

  