!!! 5
html
  head
    title Brian's Awesome App
    link(href='./style.css', rel='stylesheet', type='text/css')
    script(src='./pakmanaged.js')

body
  #wrapper  
    include tabs/header
    hr
    p
     |Check out the gallery
    include tabs/gallery
    hr
    include tabs/footer

