!!! 5
html
  head
    title Brian's Awesome App
    script(src='./pakmanaged.js')
    link(ref='stylesheet',href='./style.css',type='text/css')
  body
    p.
      Welcome to Brian's Awesome App

    include tabs/home
