!!! 5
html
  head
    title Brian's Awesome App
    link(href='./style.css', rel='stylesheet', type='text/css')
    script(src='./pakmanaged.js')

  body
    p.
      Submit your info here.

    include tabs/home

